@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

$font: 'Zilla Slab', serif;
$color-white: white;
$color-oceanG: #115d6f;
$color-brightredOrange: #fa4e1e;
$color-lightocean: #158998;
$color-brightpink: #f6bcbb;
$color-brightorange: #fdc204;
$color-orange: #ecb504;
